<h2>7日間分の投稿数</h2>
<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= before_6days %></td>
      <td><%= before_5days %></td>
      <td><%= before_4days %></td>
      <td><%= before_3days %></td>
      <td><%= before_2days %></td>
      <td><%= yesterday %></td>
      <td><%= today %></td>
    </tr>
  </tbody>
</table>
