<div class="row">
  <% if user_signed_in? %>
    <div class="col-7">
      <div class="search-form">
        <%= form_with url:search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.select :model, options_for_select({ "User" => "user", "Book" => "book" }) %>
          <%= f.select :search_part,
          options_for_select({ "完全一致" => "perfect", "前方一致" => "forward",
          "後方一致" => "backward", "部分一致" => "partial"}) %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    </div>

    <div class="col-5">
      <div class="search-form">
        <%= form_with url:search_tag_path, local: true, method: :get do |f| %>
          <%= f.text_field :vol %>
          <%= f.submit "タグ検索" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>